{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaginaPrincipal</title>

    <link rel="stylesheet" href="{% static 'css/inicio.css' %}">

</head>
<body class="principal">
    <nav class="contenedor">
        <ul class="conte">
            <li class="lista_img">
                <div class="logo">
                    <img class="img" src="{% static 'img/logo.png' %}" alt="">
                </div>
               
            </li>
            <li class="lista_general">
                <div class="vista">
                    <a href="horarios/horario.html" class="link">HORARIOS</a>
                    <img class="images" src="{% static 'img/horario.svg' %}" alt="">
                </div>  
            </li>
            <li class="lista_general lista_general--click">
                <div class="vista vista--click">
                    <a href="#" class="link">CATEGORIAS</a>
                    <img class="lista_arrow" src="{% static 'img/caregoria.svg' %}" alt="">
                </div>

                <ul class="lista_abierta">
                    <li class="inside">
                        <a href="categoria/elite.html" class="link link--modificar">Elite</a>
                    </li>
                    <li class="inside">
                        <a href="categoria/master30.html" class="link link--modificar">Master 30</a>
                    </li>
                    <li class="inside">
                        <a href="categoria/master40.html" class="link link--modificar">Master 45</a>
                    </li>
                    <li class="inside">
                        <a href="categoria/femenil.html" class="link link--modificar">Femenil</a>
                    </li>
                </ul>
            </li>

            <li class="lista_general lista_general--click">
                <div class="vista vista--click">
                    <a href="equipos/intro.html" class="link">EQUIPOS</a>
                    <img class="lista_arrow" src="{% static 'img/group.png' %}" alt="">
                </div>

                <ul class="lista_abierta">
                    <li class="inside">
                        <a href="" class="link link--modificar">ConstruBike</a>
                    </li>
                    <li class="inside">
                        <a href="" class="link link--modificar">Tennis Stars</a>
                    </li>
                    <li class="inside">
                        <a href="" class="link link--modificar">Frutitas y frutillas</a>
                    </li>
                    <li class="inside">
                        <a href="" class="link link--modificar">Balbanera</a>
                    </li>
                </ul>
            </li>

            <li class="lista_general">
                <div class="vista">
                    <!-- <img class="img" src="img/logo.png"> -->
                    <a href="#" class="link">POSICIONES</a>
                    <img class="images" src="{% static 'img/bicycle.png' %}" alt="">
                </div>
            </li>

            <li class="lista_general">
                <div class="vista">
                    <!-- <img class="img" src="img/logo.png"> -->
                    <a href="#" class="link">RESULTADOS</a>
                    <img class="images" src="{% static 'img/rankings.png' %}" alt="">
                </div>
            </li>
        </ul>  

    </nav>
    <script src="{% static 'js/inicio.js' %}"></script>

    <div class="horas">
        <h1 class="titulo">HORARIOS</h1>
        <div class="informacion">
            <h2>Ubicacion</h2>
            <h2>Horario</h2>
            <h2>Categoria</h2>
        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        
    </div>
</body>
</html>