{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycling Tecnology</title>

    <link rel="stylesheet" href="{% static 'css/iniJuez.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com%22%3E/
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>
<body class="principal" background="{% static 'img/fondo.jpg' %} " >
    <section>
        <div class="contenedor">
            <div class="formulario">
                <div class="logo">
                    <img class="img" src="{% static 'img/logo.png' %}">
                </div>
                <form action="#">
                    <h2>Iniciar Sesión</h2>

                    <div class="input-contenedor">
                        <input type="text" required>
                        <label for="#">Usuario</label>
                    </div>

                    <div class="input-contenedor">
                        <input type="password" required>
                        <label for="#">Contraseña</label>
                    </div>

                    <div class="olvidar">
                        <label for="#">
                            <input type="checkbox" required>Recordar
                            <a href="#">Olvidé la contraseña </a>
                        </label>
                    </div>
                </form>

                <div>
                    <a href="{% url 'posiciones'  %} ">
                        <button>Inicio</button>
                    </a>
<div class=registrar>
                        <p>Iniciar sesión con:</p>
                    </div>
                    <div class="iconos">
                        <div class="border-icon">
                            <i class='bx bxl-instagram'></i>
                        </div>
                        <div class="border-icon">
                            <i class='bx bxl-google'></i>
                        </div>
                        <div class="border-icon">
                            <i class='bx bxl-facebook-circle' ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>