{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycling Tecnology</title>

    <link rel="stylesheet" href="{% static 'css/iniJuez.css' %}">

</head>
<body class="pagina">

    <div class="principal">
        <div class="barra">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="">
        </div>
        <div class="datos">
            <div class="nombre">
                <h2>Usuario</h2>
                <label>
                    <input type="text" class="nom" placeholder="USUARIO">
                </label>
            </div>
            <div class="contra">
                <h2>Contraseña</h2>
                <label>
                    <input type="text" class="nom" placeholder="********">
                </label>
            </div>
            <div class="recupera">
                <h2>¿Perdiste tu contraseña?</h2>
            </div>
            <div class="btnini">
                <a href="{% url 'inicio' %}"><button class="btnden">INICIO</button></a>
            </div>
            <div class="iniciar">
                <h2>Iniciar sesion con</h2>
            </div>
            <div class="logos">
                <img class="face" src="{% static 'img/facebook.png' %}" alt="">
                <img class="face" src="{% static 'img/instagram.png' %}" alt="">
                <img class="face" src="{% static 'img/google.png' %}" alt="">
            </div>
        </div>
        
    </div>
</body>
</html>