{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cycling Tecnology</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body class="pagina">

    <div class="principal">
        <div class="barra">
            <img class="logo" src="{% static 'img/logo.png' %}" alt="">
        </div>
        <div class="btnini">
            <a href="{% url 'login' %}"><button class="btnden"> Inicio </button></a>
        </div>
    </div>
</body>
</html>