{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Masters</title>

    <link rel="stylesheet" href="{% static 'css/master30.css' %}">
</head>
<body>
    <div class="horas">
        <h1 class="titulo">MASTER 30</h1>
        <div class="informacion">
            <h2>No.</h2>
            <h2>Nombre</h2>
            <h2>Equipo</h2>
        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        <div class="muestra">

        </div>
        
    </div>
</body>
</html>