{% extends 'base.html' %}

{% block title %} Equipo - ConstruBike {% endblock %}
{% block div_title %} CORREDORES DEL EQUIPO CONSTRUBIKE LA BARCA {% endblock %}
{% block titulos %}
     <thead>
        <tr>
            <th>NOMBRE</th>
            <th>CIUDAD</th>
            <th>COMPETIDORES</th>
        </tr>
    </thead>
{% endblock %}
{% block contenido %}
    <tbody>
        {% for equipo in equipos %}
            <tr>
                <td>{{ equipo.nombre }}</td>
                <td>{{ equipo.ciudad }}</td>
                <td>{{ equipo.cantidad }}</td>
            </tr>
        {% endfor %}
    </tbody>
{% endblock %}