{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipo</title>

    <link rel="stylesheet" href="{% static 'css/intro.css' %}">
</head>
<body>
    <div class="horas">
        <h1 class="titulo">EQUIPOS</h1>
        <div class="cordinar">
            <div class="equipos">
                <a href="">ConstruBike</a>
            </div>
            <div class="equipos">
                <a href="">Sahuayo</a>
            </div>
            <div class="equipos">
                <a href="">Balbanera</a>
            </div>
            <div class="equipos">
                <a href="">Tecnologico</a>
            </div>
            <div class="equipos">
                <a href="">Tennis Stars</a>
            </div>
            <div class="equipos">
                <a href="">Frutitas y frutillas</a>
            </div>
        </div>
        
        
    </div>
</body>
</html>