{% extends 'base.html' %}

{% block title %} Horarios {% endblock %}
{% block div_title %} Horarios {% endblock %}
{% block titulos %}

    <thead>
        <tr>
            <th>Nombre</th>
            <th>Requisitos</th>
        </tr>
    </thead>

{% endblock %}
{% block contenido %}
    <tbody>
        {% for categoria in categorias %}
            <tr>
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.requisitos }}</td>
            </tr>


        {% endfor %}
    </tbody>
{% endblock %}