{% extends 'base.html' %}

{% block title %} Horarios {% endblock %}
{% block div_title %} Horarios {% endblock %}
{% block titulos %}

    <thead>
        <tr>
            <th class="titulo">Nombre</th>
            <th>Requisitos</th>
        </tr>
    </thead>

{% endblock %}
{% block contenido %}
    <tbody class="">
        {% for categoria in categorias %}
            <tr class="muestra">
                <td>{{ categoria.nombre }}</td>
                <td>{{ categoria.requisitos }}</td>
            </tr>


        {% endfor %}
    </tbody>
{% endblock %}